<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Brand</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <div class="">
            <a class="nav-link active" aria-current="page" href="/shopping-cart">Shopping-cart 
              <% if(totalproducts) { %>
              <span class="badge text-bg-primary"><%= totalproducts %></span>
              <% } %>
            </a>
           
          </div>
         
          <% if(checkuser){ %>
          <a class="nav-link " href="/users/profile">Profile</a>
          <a class="nav-link" href="/users/logout">Logout</a>
          <% } else{ %>
          <a class="nav-link" href="/users/signin">Signin</a>
          <a class="nav-link" href="/users/signup">SignUp</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>